
:root {
    --col_bg: #101010;
    --col_d1: #575760;
    --col_l1: #f02040;
    --col_l2: #fff070;
    --col_l3: #40f050;
    --col_l4: #40f0f0;
    --col_l5: #8040f0;
    --col_l6: #f000c0;
}

@font-face {
  font-family: "pixelcode";
  src:
    url("PixelCode.otf") format("opentype")
}

body {
    background-color: var(--col_bg);
}
h1 {
    color: var(--col_l5);
    font-family: 'pixelcode', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color: var(--col_l6);
    font-family: 'pixelcode', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.square {
    line-height: 0.78;
}